.main{
    background-color: #5AB6E2;
    padding: 0rem 7rem;

    h2{
        font-family: 'Sigmar';
        font-size: 1.7rem;
    }

    ul{
        display: flex;
        gap: 3rem;  
        list-style-type: none; /* Removes the bullet points */
        padding-left: 0;       /* Removes the default padding */
        margin: 0;        
        
        li{
            width: 80%;
            margin-bottom:auto;

            h3{
            height: 2rem;
            }

            div{
                display: flex;
                flex-direction: column;
            }

            img{
                max-width: 20vw;
                height: 15rem;
            }
        }
    }
 
}