@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main{
    display: flex;
    flex-direction: column;
    padding: 0rem 6rem;

    h2{
        font-family: 'Sigmar';
        font-size: 1.5rem;
    }

    .courses{
        display: flex;
        justify-content: space-between;
    }

    button{
        align-self: flex-start;
        margin: 2rem auto;
        border-radius: 0.2rem;
        background-color: #8C46B9;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.7rem;
        padding: 1rem 3rem;
    }
}