.main{
    display: flex;
    flex-direction: column;
    padding: 0rem 6rem;

    h2{
        font-family: 'Sigmar';
        font-size: 1.5rem;
    }

    .courses{
        display: flex;
        justify-content: space-between;
    }

    button{
        align-self: flex-start;
        margin: 2rem auto;
        border-radius: 0.2rem;
        background-color: #8C46B9;
        color: white;
        font-weight: bold;
        font-size: 17px;
    }
}