.main{
    width: 94vw;
    height: 2rem;
    display: flex;
    padding: 1.5rem 3vw ;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index:10000;
    top: 0;

    menu{
        margin: 0;
        display: flex;
        gap: 1rem;

        .link{
            color: black;
            font-size: 20px;
            margin-right: 4rem;
        }
    }

    .buttons{
        display: flex;
        .login{
            background-color: #FFD5D5;
            color: #F34E4E;
            margin-right: 1rem;
        }

        .register{
            background-color: #F34E4E;
            color: white;
        }
    }

}